/* Complemento sobre Bootstrap */
h1, h2, h3, h5 {
  font-family: 'Cormorant Garamond', serif;
}

.text-info {
  color: rgb(2, 102, 127) !important;
}
.bg-info {
  background-color: rgb(2, 102, 127) !important;
}
.bg-info-subtle {
  background-color: rgb(236, 242, 242) !important;
}

footer {
  background-color: rgb(2, 102, 127);
  color: white;
}
